In [25]:
import pandas as pd
import pathlib
titles = pd.read_csv(
        pathlib.Path('./data/title.basics.tsv').resolve(),
        delimiter='\t',
        index_col=['tconst'],
        na_values=['\\N'],
        low_memory=False
)
ratings = pd.read_csv(
        pathlib.Path('./data/title.ratings.tsv').resolve(),
        delimiter='\t',
        index_col=['tconst'],
        na_values=['\\N'],
        low_memory=False
)

# Combine data-sources on 'tconst' (works like left inner join)
df = pd.merge(titles, ratings, on="tconst")

# Clean up runtimeMinutes data
df['runtimeMinutes'] = df['runtimeMinutes'].fillna(0)
df = df[df['runtimeMinutes'].str.isnumeric().astype('bool')].copy()
df['runtimeMinutes'] = pd.to_numeric(df['runtimeMinutes'])

df.head(5)

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
tconst,,,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short",5.7,2131
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short",5.6,289
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance",6.4,2167
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short",5.3,184
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short,6.2,2894

In [26]:
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes      int64
genres             object
averageRating     float64
numVotes            int64
dtype: object