In [1]:
import shutil

In [2]:
import pandas as pd

In [10]:
%pwd

'/home/renton/Documents/code/fast-app'

In [11]:
import pathlib

In [13]:
title_info = pathlib.Path('./data/title.basics.tsv').resolve()
df = pd.read_csv(
        title_info,
        delimiter='\t',
        index_col=['tconst'],
        na_values=['\\N'],
        low_memory=False
    )

In [14]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [15]:
await df

TypeError: object DataFrame can't be used in 'await' expression

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11456853 entries, tt0000001 to tt9916880
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   titleType       object
 1   primaryTitle    object
 2   originalTitle   object
 3   isAdult         float64
 4   startYear       float64
 5   endYear         float64
 6   runtimeMinutes  object
 7   genres          object
dtypes: float64(3), object(5)
memory usage: 786.7+ MB

In [19]:
is_num = df['runtimeMinutes'].str.isnumeric()

In [20]:
is_num

tconst
tt0000001    True
tt0000002    True
tt0000003    True
tt0000004    True
tt0000005    True
             ...
tt9916848     NaN
tt9916850     NaN
tt9916852     NaN
tt9916856    True
tt9916880    True
Name: runtimeMinutes, Length: 11456853, dtype: object

In [39]:
is_num = is_num.astype('bool')

In [40]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [45]:
cf = df.copy()

In [46]:
cf

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [47]:
cf[:'runtimeMinutes'] = 0

In [49]:
cf

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [51]:
cf[:'runtimeMinutes'] = 0

TypeError: 'int' object does not support item assignment

In [52]:
cf

0

In [53]:
cf = df.copy()

In [55]:
cf[:'runtimeMinutes'] = 0

In [59]:
cf

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [61]:
title_info = pathlib.Path('./data/title.basics.tsv').resolve()
df = pd.read_csv(
        title_info,
        delimiter='\t',
        index_col=['tconst'],
        na_values=['\\N'],
        low_memory=False
    )

In [62]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [63]:
is_numeric = df['runtimeMinutes'].str.isnumeric()

In [64]:
is_numeric

tconst
tt0000001    True
tt0000002    True
tt0000003    True
tt0000004    True
tt0000005    True
             ...
tt9916848     NaN
tt9916850     NaN
tt9916852     NaN
tt9916856    True
tt9916880    True
Name: runtimeMinutes, Length: 11456853, dtype: object

In [65]:
is_numeric = is_numeric.astype('bool')

In [66]:
is_numeric

tconst
tt0000001    True
tt0000002    True
tt0000003    True
tt0000004    True
tt0000005    True
             ...
tt9916848    True
tt9916850    True
tt9916852    True
tt9916856    True
tt9916880    True
Name: runtimeMinutes, Length: 11456853, dtype: bool

In [67]:
df[~is_numeric]

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019.0,NaN,NaN,Reality-TV,NaN
tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019.0,NaN,NaN,Talk-Show,NaN
tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981.0,NaN,NaN,Documentary,NaN
tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020.0,NaN,NaN,Talk-Show,NaN
tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020.0,NaN,NaN,"Family,Game-Show",NaN
...,...,...,...,...,...,...,...,...
tt35660466,tvEpisode,House of Frankenstein\tHouse of Frankenstein,0,1959.0,NaN,NaN,"Fantasy,Horror,Mystery",NaN
tt35718114,tvEpisode,Night Key\tNight Key,0,1958.0,NaN,NaN,"Drama,Horror,Mystery",NaN
tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014.0,NaN,NaN,"Game-Show,Reality-TV",NaN
tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019.0,NaN,NaN,Talk-Show,NaN
tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005.0,NaN,NaN,Talk-Show,NaN

In [68]:
df = df[is_numeric]

In [69]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10,"Adventure,Animation,Comedy"

In [70]:
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [71]:
is_numeric_cleaned = df['runtimeMinutes'].str.isnumeric().astype('bool')
df[~is_numeric_cleaned]

Empty DataFrame
Columns: [titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [72]:
df.loc[:, 'runtimeMinutes'] = pd.to_numeric(
    df.loc[:, 'runtimeMinutes'], errors='coerce'
)
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [73]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [74]:
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [75]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [76]:
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [77]:
is_numeric_cleaned = df['runtimeMinutes'].str.isnumeric().astype('bool')
df[~is_numeric_cleaned]

AttributeError: Can only use .str accessor with string values!

In [83]:
df['runtimeMinutes'].notnull()

tconst
tt0000001     True
tt0000002     True
tt0000003     True
tt0000004     True
tt0000005     True
             ...
tt9916848    False
tt9916850    False
tt9916852    False
tt9916856     True
tt9916880     True
Name: runtimeMinutes, Length: 11456030, dtype: bool

In [84]:
df.info

<bound method DataFrame.info of            titleType               primaryTitle              originalTitle  \
tconst
tt0000001      short                 Carmencita                 Carmencita
tt0000002      short     Le clown et ses chiens     Le clown et ses chiens
tt0000003      short               Poor Pierrot             Pauvre Pierrot
tt0000004      short                Un bon bock                Un bon bock
tt0000005      short           Blacksmith Scene           Blacksmith Scene
...              ...                        ...                        ...
tt9916848  tvEpisode              Episode #3.17              Episode #3.17
tt9916850  tvEpisode              Episode #3.19              Episode #3.19
tt9916852  tvEpisode              Episode #3.20              Episode #3.20
tt9916856      short                   The Wind                   The Wind
tt9916880  tvEpisode  Horrid Henry Knows It All  Horrid Henry Knows It All

           isAdult  startYear  endYear runtimeMinutes  \
tconst
tt0000001      0.0     1894.0      NaN            1.0
tt0000002      0.0     1892.0      NaN            5.0
tt0000003      0.0     1892.0      NaN            5.0
tt0000004      0.0     1892.0      NaN           12.0
tt0000005      0.0     1893.0      NaN            1.0
...            ...        ...      ...            ...
tt9916848      0.0     2009.0      NaN            NaN
tt9916850      0.0     2010.0      NaN            NaN
tt9916852      0.0     2010.0      NaN            NaN
tt9916856      0.0     2015.0      NaN           27.0
tt9916880      0.0     2014.0      NaN           10.0

                               genres
tconst
tt0000001           Documentary,Short
tt0000002             Animation,Short
tt0000003    Animation,Comedy,Romance
tt0000004             Animation,Short
tt0000005                       Short
...                               ...
tt9916848                       Drama
tt9916850                       Drama
tt9916852                       Drama
tt9916856                       Short
tt9916880  Adventure,Animation,Comedy

[11456030 rows x 8 columns]>

In [85]:
df.dtypes

titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear           float64
runtimeMinutes     object
genres             object
dtype: object

In [87]:
nulls = df['runtimeMinutes'].notnull()

In [88]:
df[nulls]

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0.0,2013.0,NaN,49.0,Documentary
tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0.0,2019.0,NaN,43.0,"Family,Game-Show,Reality-TV"
tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0.0,2014.0,NaN,11.0,"Adventure,Animation,Comedy"
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [89]:
nulls

tconst
tt0000001     True
tt0000002     True
tt0000003     True
tt0000004     True
tt0000005     True
             ...
tt9916848    False
tt9916850    False
tt9916852    False
tt9916856     True
tt9916880     True
Name: runtimeMinutes, Length: 11456030, dtype: bool

In [91]:
nulls.unique()

array([ True, False])

In [92]:
nulls.unique().count()

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [93]:
nulls.unique()

array([ True, False])

In [94]:
nulls

tconst
tt0000001     True
tt0000002     True
tt0000003     True
tt0000004     True
tt0000005     True
             ...
tt9916848    False
tt9916850    False
tt9916852    False
tt9916856     True
tt9916880     True
Name: runtimeMinutes, Length: 11456030, dtype: bool

In [95]:
df[nulls]

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0.0,2013.0,NaN,49.0,Documentary
tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0.0,2019.0,NaN,43.0,"Family,Game-Show,Reality-TV"
tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0.0,2014.0,NaN,11.0,"Adventure,Animation,Comedy"
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [96]:
df[~nulls]

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000019,short,The Clown Barber,The Clown Barber,0.0,1898.0,NaN,NaN,"Comedy,Short"
tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0.0,1896.0,NaN,NaN,"News,Short,Sport"
tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0.0,1896.0,NaN,NaN,Short
tt0000040,short,Barque sortant du port de Trouville,Barque sortant du port de Trouville,0.0,1896.0,NaN,NaN,"Documentary,Short"
tt0000042,short,Bateau-mouche sur la Seine,Bateau-mouche sur la Seine,0.0,1896.0,NaN,NaN,"Documentary,Short"
...,...,...,...,...,...,...,...,...
tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0.0,2009.0,NaN,NaN,Drama
tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0.0,2009.0,NaN,NaN,Drama
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama

In [98]:
df[~nulls]['runtimeMinutes'] = 0

/tmp/ipykernel_88617/783235193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[~nulls]['runtimeMinutes'] = 0

In [99]:
df[~nulls][:'runtimeMinutes'] = 0

/tmp/ipykernel_88617/294594173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[~nulls][:'runtimeMinutes'] = 0

In [100]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,NaN,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [101]:
df[~nulls]['runtimeMinutes']

tconst
tt0000019    NaN
tt0000025    NaN
tt0000039    NaN
tt0000040    NaN
tt0000042    NaN
            ...
tt9916844    NaN
tt9916846    NaN
tt9916848    NaN
tt9916850    NaN
tt9916852    NaN
Name: runtimeMinutes, Length: 7819473, dtype: object

In [102]:
df['runtimeMinutes'] = df['runtimeMinutes'].fillna(0)

/tmp/ipykernel_88617/1759827573.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['runtimeMinutes'] = df['runtimeMinutes'].fillna(0)
/tmp/ipykernel_88617/1759827573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runtimeMinutes'] = df['runtimeMinutes'].fillna(0)

In [103]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short
...,...,...,...,...,...,...,...,...
tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2009.0,NaN,0.0,Drama
tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,0.0,Drama
tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,0.0,Drama
tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"